<!doctype html>
<html>
  <head>
    <title>DFA Solver</title>
    <script src="http://visjs.org/vis.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dfa.css" rel="stylesheet">
  </head>
  <body>
    <a href="https://github.com/rupss/automata-generator"
       class="banner"><img style="position: absolute; top: 20; right: 0;
                                  border: 0; z-index:100;"
                           src="images/fork.png"
                           alt="Fork me on GitHub"></a>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Automata Generator</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="https://en.wikipedia.org/wiki/Deterministic_finite_automaton">What's a DFA?</a><li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.rupsshankar.tumblr.com">By Rupa Shankar</a></li>
          <li><a href="http://www.github.com/rupss"><img src="images/GitHub-Mark-32px.png"/></a></li>
          <li style="width:120px"/>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-7">
        <p>
          Specify the states/transitions of a DFA and an input string to get a visualization of the DFA and the result! 
        </p>
        <p>
          Each header and transition should be on its own line.
        </p>
      </div>
      <div class="col-md-5">
        <div class="title">Example</div>
        <div class="container">
          <div class="col-md-2">
            <div class="example-header">DFA states</div>
            <pre><code class="example">
                s S0 start A <br>
                t 0, 1 -> S0 <br>
                s S1 <br>
                t 0 -> S1 <br>
                t 1 -> S0 <br>
            </code></pre>
          </div>
          <div class="col-md-2">
           <div class="example-header"> Input</div>
            <pre><code class="example">0 1 1</code></pre>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="col-md-7">
          <div class="row">
            <br>
            <form action="/" method="post">
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <label for="states">DFA states</label>
                  </div>
                  <div class="col-md-4">
                    <textarea id="states" name="states" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <label for="input">
                      Input
                      <div class="input-instructions">
                        Space separated<br>e.g 0 1 1 0
                      </div>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <textarea id="input" name="input"></textarea>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                      <br>
                      <button type="submit" class="btn btn-default" id="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          </form>
        </div>
        <div class="col-md-5">
          
          <div class="title">DFA State Grammar</div>
          <code>  &lt;DFA states&gt; --&gt; &lt;State&gt;+ </code><br>
          <code>   &lt;State&gt;&nbsp; &nbsp; &nbsp;   --&gt; &lt;Header&gt; </code>
          <code>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &lt;Transition&gt;+  </code><br>
          <code> &lt;Header&gt; &nbsp;&nbsp;&nbsp;&nbsp;--&gt; s STATE-NAME start? A?</code><br>
          <div class="input-instructions">
            start - denotes a start state <br>
            A - denotes an accepting state (default is rejecting) <br>
          </div>
          <code> &lt;Transition&gt; --&gt; t &lt;Symbols&gt; -&gt; STATE-NAME</code><br>
          <code>&lt;Symbols&gt;&nbsp;&nbsp;&nbsp; --&gt; SYMBOL, SYMBOL, ...</code><br>
          <div class="input-instructions">1+ comma separated symbols</div>
        </div>
      </div>
    </div>
</div>
<br>
<br><br>
<div class="container">
  <div class="col-md-3">
    {{result|safe}}
  </div>
  <div class="col-md-9">
    <div class="row"><div id="graphInstructions"></div></div>
    <div class="row"><div id="mygraph"></div></div>
    {{script|safe}}
  </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
