textarea {
    width: 100%;
}

.accept {
    margin-left: auto;
    margin-right: auto;
}

.reject {
    margin-left: auto;
    margin-right: auto;
}

#mygraph {
    width: 70%;
    margin-left: auto;
    margin-right: auto
}